* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

.main-section {
  padding: 2rem 1.5rem;
  font-family: "Poppins", sans-serif;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  max-width: 35rem;
  margin-inline: auto;
  margin-bottom: 4rem;
}

h1,
h2 {
  color: var(--grey-500);
  font-size: 2.25rem;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 600;
}

.intro p {
  font-size: 0.938rem;
  color: var(--grey-500);
  line-height: 1.4;
}

.grid-container {
  display: grid;
  place-content: center;
  gap: 2rem;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

/* .desktop-col-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */

.card div {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.card h3 {
  font-size: 1.25rem;
  line-height: 1.35;
  font-weight: 600;
  color: var(--grey-500);
}

.card p {
  font-size: 0.813rem;
  line-height: 1.6;
  color: var(--grey-400);
}

.card img {
  justify-self: end;
}

.card-1 {
  border-top: 4px solid var(--cyan);
}

.card-2 {
  border-top: 4px solid var(--red);
}
.card-3 {
  border-top: 4px solid var(--orange);
}

.card-4 {
  border-top: 4px solid var(--blue);
}

/* Tablet Layout Breakpoint */
@media (min-width: 600px) {
  .card-1 {
    grid-area: supervisor;
  }
  .card-2 {
    grid-area: team-builder;
  }

  .card-3 {
    grid-area: karma;
  }

  .card-4 {
    grid-area: calculator;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "team-builder team-builder"
      "supervisor karma"
      "calculator calculator";
    /* align-items: center; */
  }

  .card-2,
  .card-4 {
    /* align-self: center; */
    justify-self: center;
  }
}

/* Desktop Layout Breakpoint */
@media (min-width: 1024px) {
  .card-1 {
    grid-area: supervisor;
  }
  .card-2 {
    grid-area: team-builder;
  }

  .card-3 {
    grid-area: karma;
  }

  .card-4 {
    grid-area: calculator;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "supervisor team-builder calculator"
      "supervisor karma calculator";
    align-items: center;
  }
}
